body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a; /* цвет текста */
}
.header {
  max-width: 1146px; /* максимальная ширина */
  margin: auto; /* автоматическое выравнивание по середине */
  padding-top: 30px;
}
.navbar {
  display: flex; /* делаем гибкий блок */
  align-items: center; /* выравниваем по вертикали по центру  */
  justify-content: space-between; /* разбросать элементы по краям */
  margin-bottom: 24px;
}
/* меню в шапке */
.navbar-menu {
  margin-right: auto; /* авто отступ справа */
}
.menu {
  list-style: none; /* отключаем точки */
  margin: 0;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
}
/* для всех пунктов меню кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link {
  text-decoration: none;
  color: inherit;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primery {
  background: #256eeb;
  border-radius: 5px;
  color: white;
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
  flex-grow: 1;
  background: #fff;
  border-radius: 5px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
